[defaults]
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
collections_path = ./collections
roles_path = ./roles
deprecation_warnings = True
interpreter_python = auto

[ssh_connection]
pipelining = True
