[defaults]
host_key_checking = False
retry_files_enabled = False
stdout_callback = ansible.builtin.default
collections_path = ./collections
roles_path = ./roles
deprecation_warnings = True
interpreter_python = auto

[callback_default]
result_format = yaml

[ssh_connection]
pipelining = True
